h4 Ваши города
table#gamelists
	thead
		tr
			th №
			th Название
			th Население
			th Войти
	tbody
		tr
			td 1
			td Wayward Pines
			td 1563
			td ВОЙТИ
		tr
			td 2
			td Pain Krik
			td 1987
			td ВОЙТИ
		tr
			td(colspan=4)
				a(href="/game/step1") Создать новый проект!