#news
	h4 Новости игры
	ul#newslist
		li
			.row
				col-xs-4.col-sm-2
					p 20.07.2016
				col-xs-8.col-sm-10
					p В игру добавлена авторизация, личный кабинет пользователя, новостной движок, добавлена возможность создавать персонажа :-)
		li
			.row
				col-xs-4.col-sm-2
					p 19.07.2016
				col-xs-8.col-sm-10
					p Создание сервера игры на базе Node.js+Express+Pug :-)
		li
			.row
				col-xs-4.col-sm-2
					p 18.07.2016
				col-xs-8.col-sm-10
					p Начало разработки концепции игры :-)
		li
			.row
				col-xs-4.col-sm-2
					p 18.07.2016
				col-xs-8.col-sm-10
					p Начало разработки концепции игры :-)
		li
			.row
				col-xs-4.col-sm-2
					p 18.07.2016
				col-xs-8.col-sm-10
					p Начало разработки концепции игры :-)
		li
			.row
				col-xs-4.col-sm-2
					p 18.07.2016
				col-xs-8.col-sm-10
					p Начало разработки концепции игры :-)
		li
			.row
				col-xs-4.col-sm-2
					p 19.07.2016
				col-xs-8.col-sm-10
					p Создание сервера игры на базе Node.js+Express+Pug :-)
		li
			.row
				col-xs-4.col-sm-2
					p 19.07.2016
				col-xs-8.col-sm-10
					p Создание сервера игры на базе Node.js+Express+Pug :-)
		li
			.row
				col-xs-4.col-sm-2
					p 19.07.2016
				col-xs-8.col-sm-10
					p Создание сервера игры на базе Node.js+Express+Pug :-)